body{
    background-color: rgb(132, 212, 239);
}
.nuage1{
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    left: 500px;
    top: 50px;
    animation: move 2s infinite alternate;
    position: relative;
}
.nuage2{
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    left: 250px;
    top: 150px;
    animation: move 2s infinite alternate;
    position: relative;
}
.arondi1{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    left: 40px;
    top: -40px;
}
.arondi2{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    left: 100px;
    top: -110px;
}
.arondi3{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    left: 40px;
    top: -40px;
}
.arondi4{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    left: 100px;
    top: -110px;
}
@keyframes move {
    0%{
        top: 20px;
    }
    100%{
        top: 40px;
    }
    
      }